/*
Placeholder manifest file.
the installer will append this file to the app vendored assets here: 'vendor/assets/stylesheets/spree/backend/all.css'
*/

@import '../../bootstrap-sass-3.4.1/assets/stylesheets/bootstrap/variables';

@import 'global/variables';
//@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'shared/base';
